body{
    margin: 0;
    overflow: hidden;
}
canvas{
    width: 100%;
    height: 100%;
}
#info{
    position: fixed;
    width: auto;
    max-width: 350px;
    height: auto;
    top: 0;
    left: 0;
    border-radius: 15px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    background-color: black;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: right;

    display: flex;
    flex-direction: column;
}
input{
    margin: 0;
    border: 0;
    width: 120px;
    background-color: black;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}
.edit{
    width: 20px;
    height: 20px;
    background-image: url("./edit.png");
    background-size: contain;
}
.button{
    margin: 0 auto;
    color: white;
    background-color: black;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 5px;
    border-width: 1px;
}
#shareLink{
    font-size: 15px;
    text-align: left;
    overflow: hidden;
    word-wrap: normal;
    background-color: transparent;
}
#shareWrapper{
    text-align: left;
    display: flex;
    flex-direction: row;
}
#shareIcon{
    background-image: url("./copy.png");
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-left: 20px;
}
#code{
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    position: fixed;
    bottom: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    background-color: rgb(41, 41, 41);
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
}